<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>

<p>
    Splurty was built by <a target="_blank" href="http://github.com/Alisonhardison">Alison!</a> A web developer who is on a mission to learn the technical skills needed to launch her own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    She is learning how to code and build products people want through coding bootcamp at Vanderbilt.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.

    <div class="row">
      <div class="col-12 col-sm-4">
        <%= image_tag 'me.jpg' , class: 'img-fluid' %>
      </div>

      <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Alison Hardison</h2>
      <br />
      <p>
        Alison Hardison is a stay at home mom with a passion for coding! This passion began when her son asked her to create a game from scratch on the Roblox Creator Application. She very quickly picked up on the Lua coding language and within her first day had created a custom game for her son. Currently, she is a student trying to learn everything she can to become a full-time web developer! 
      </p>
    </div>
  </div>

  <br class="clear" />
<br />
<br />
<br />
<br />